@font-face {
    font-family: 'IBMPlexSansKR-ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html {
    font-family: 'IBMPlexSansKR-ExtraLight', 'Noto Sans KR', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

i {
    font-size: 24px;
    color: #00687F;
    margin: 5px;
}

#go_main {
    font-size: 0;
    list-style-type: none;
}

.grid_layout {
    display: grid;
}

.lo_995 {
    clear: both;
    position: relative;
}

.Top_Menu,
.Top {
    color: #00687F;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    height: 60px;
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 2;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

/* 메인 로고 */

.Top_Menu .jwxe_html {
    display: inline;
    align-self: center;
}

.Top_Menu .jwxe_html h1 a img {
    height: 36px;
    margin: auto 20px auto 20px;
}

/* 헤더 */


#Top_Main {
    max-width: 1450px;
}

/* 로그인, 로그아웃, 홈, 영문 페이지 */
#login_list li{
    display: inline-block;
}

#login_list {
    position: absolute;
    right: 20px;
}

/* 메인 메뉴 - 대학소개 입학안내 대학/대학원 대학기관 대학생활 순천향세상 */
.jwxe_menu_box0 {
    display: inline-block;
    align-self: center;
}

.jwxe_menu_box0 li {
    margin: 0px 20px 0 20px;
    display: inline-block;
}

/* 기타 메뉴 + 메인 메뉴 공통 적용 */
.jwxe_menu_box0 li a,
#jwxe_1305609065745,
#jwxe_1305609293490,
#jwxe_1305609562261 {
    color: #007681;
    text-decoration: none;
    margin-top: 20px;
    font-size: 22px;
}

/* 기타 메뉴 공통 적용 */
#jwxe_1305609065745,
#jwxe_1305609293490,
#jwxe_1305609562261 {
    margin: 0px 20px 0 20px;
    display: inline-block;
    align-self: center;
}

/* 메인 비주얼 */
#Main_Visual {
    background: url(https://home.sch.ac.kr/_res/sch/img/main_visual_01.jpg) no-repeat 50% 50%/cover;
    
    height: 950px;
    position: relative;
    z-index: 1;
}

.main_visual_text {
    max-width: 1550px;
    text-align: end;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 24pt;
    margin-top: 700px;
}

.sch_gradient {
    background: linear-gradient(to right, #92C83E 15%, #269867 75%, #1697BE 100%) text;
    font-size: 74pt;
    font-weight: 900;
    color: transparent;
}

#menuView0, #menuView1, #menuView2 {
    display: none;
}

/* 순천향인, 교직원, 방문인 */
#jwxe_1297997945786, #jwxe_1297997969913, #jwxe_1298002463910 {
    color: white;
    background-color: #00687F;
    text-decoration: none;
    text-align: center;
    line-height: 70px;
    font-size: 12pt;
    font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
}

/* 공지사항, 학사공지, 취업정보, 장학공지, 입찰공고 */
#jwxe_1298005370608, #jwxe_1298005426312, #jwxe_1298005460497, #jwxe_1298005501500, #jwxe_1298005544582 {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #00687F;
    font-size: 14pt;
    font-family: 'Noto Sans KR', 'Noto Sans CJK KR', 'Apple SD Gothic Neo', sans-serif;
    /* height: 30px;
    width: 60px; */
    padding-left: 5px;
    padding-top: 7px;
}

#jwxe_1298005544588, #jwxe_1298005544584 {
    color: white;
    background-color: #00687F;
    text-decoration: none;
    border-radius: 15px;
    font-size: 9.5pt;
    height: 30px;
    padding-left: 15px;
    padding-top: 7px;
}