@font-face {
    font-family: 'GoyangIlsan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangIlsan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


html {
    font-family: 'GoyangIlsan', 'Noto Sans KR', sans-serif;
}

i {
    font-size: 24px;
    color: #00687F;
    margin: 5px;
}

.lo_995 {
    clear: both;
    position: relative;
}

.Top_Menu {
    margin-top: 5px;
    color: #00687F;
    text-decoration: none;
    border-bottom: 1px solid #007681;
    height: 52px;
}

/* 메인 로고 */
.Top_Menu .jwxe_html h1 {
    margin: 0 20px 20px 20px;
}

/* 메인 메뉴 */
.jwxe_menu_box0 {
    display: none;
}
.jwxe_menu_box0 li {
    font-size: 20px;
    margin: 10px 20px 0 20px;
    display: inline;
}
.jwxe_menu_box0 li a {
    color: #007681;
    text-decoration: none;
}
.jwxe_menu_box0 li .jwxe_ul {
    background-color: white;
    border: 1px solid #007681;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

@media screen and (min-width: 995px) {
    .Top_Menu {
        margin-top: 20px;
    }
    .Top_Menu .jwxe_html h1 {
        margin: 0 20px 20px 400px;
    }
    .jwxe_menu_box0 {
        display: inline-block;
        margin-left: 650px;
        width: 100%;
    }
}

/* 메인 메뉴의 각종 버튼 */
#login_list li {
    float: left;
    margin-left: 2.5px;
    margin-right: 2.5px;
    position: relative;
}

#jwxe_1297997945786, #jwxe_1297997969913, #jwxe_1298002463910 {
    color: white;
    background-color: #00687F;
    text-decoration: none;
    text-align: center;
    line-height: 70px;
    font-size: 10pt;
    font-family: 'Noto Sans CJK KR', 'Apple SD Gothic Neo', sans-serif;
}

#jwxe_1298005370608, #jwxe_1298005426312, #jwxe_1298005460497, #jwxe_1298005501500, #jwxe_1298005544582 {
    color: white;
    background-color: #00687F;
    text-decoration: none;
    border-radius: 15px;
    font-size: 9.5pt;
    height: 30px;
    width: 60px;
    padding-left: 5px;
    padding-top: 7px;
}

#jwxe_1298005544588, #jwxe_1298005544584 {
    color: white;
    background-color: #00687F;
    text-decoration: none;
    border-radius: 15px;
    font-size: 9.5pt;
    height: 30px;
    padding-left: 15px;
    padding-top: 7px;
}

#jwxe_1298005370608:hover, #jwxe_1298005426312:hover, #jwxe_1298005460497:hover, #jwxe_1298005501500:hover, #jwxe_1298005544582:hover, #jwxe_1298005544588:hover, #jwxe_1298005544584:hover {
    color: black;
    background-color: azure;
}

#jwxe_1298005370608:focus, #jwxe_1298005426312:focus, #jwxe_1298005460497:focus, #jwxe_1298005501500:focus, #jwxe_1298005544582:focus, #jwxe_1298005544588:focus, #jwxe_1298005544584:focus {
    color: black;
    background-color: azure;
}